In [1]:
import pandas as pd

In [2]:
#Load datasets
data1 = pd.read_csv(r'C:\Users\ngocd\source\Github\DataAnalysisProjects\HR analytics\Employee.csv')
data2 = pd.read_csv(r'C:\Users\ngocd\source\Github\DataAnalysisProjects\HR analytics\PerformanceRating.csv')

In [3]:
print (data1.head())

  EmployeeID   FirstName LastName      Gender  Age BusinessTravel  \
0  3012-1A41    Leonelle    Simco      Female   30    Some Travel
1  CBCB-9C9D     Leonerd    Aland        Male   38    Some Travel
2  95D7-1CE9       Ahmed    Sykes        Male   43    Some Travel
3  47A0-559B  Ermentrude   Berrie  Non-Binary   39    Some Travel
4  42CC-040A       Stace   Savege      Female   29    Some Travel

        Department  DistanceFromHome (KM) State                Ethnicity  ...  \
0            Sales                     27    IL                    White  ...
1            Sales                     23    CA                    White  ...
2  Human Resources                     29    CA  Asian or Asian American  ...
3       Technology                     12    IL                    White  ...
4  Human Resources                     29    CA                    White  ...

   MaritalStatus  Salary StockOptionLevel OverTime    HireDate  Attrition  \
0       Divorced  102059                1       No  2012-01-03         No
1         Single  157718                0      Yes  2012-01-04         No
2        Married  309964                1       No  2012-01-04         No
3        Married  293132                0       No  2012-01-05         No
4         Single   49606                0       No  2012-01-05        Yes

  YearsAtCompany YearsInMostRecentRole YearsSinceLastPromotion  \
0             10                     4                       9
1             10                     6                      10
2             10                     6                      10
3             10                    10                      10
4              6                     1                       1

   YearsWithCurrManager
0                     7
1                     0
2                     8
3                     0
4                     6

[5 rows x 23 columns]

In [4]:
print (data1.describe())

               Age  DistanceFromHome (KM)    Education         Salary  \
count  1470.000000            1470.000000  1470.000000    1470.000000
mean     28.989796              22.502721     2.912925  112956.497959
std       7.993055              12.811124     1.024165  103342.889222
min      18.000000               1.000000     1.000000   20387.000000
25%      23.000000              12.000000     2.000000   43580.500000
50%      26.000000              22.000000     3.000000   71199.500000
75%      34.000000              33.000000     4.000000  142055.750000
max      51.000000              45.000000     5.000000  547204.000000

       StockOptionLevel  YearsAtCompany  YearsInMostRecentRole  \
count       1470.000000     1470.000000            1470.000000
mean           0.793878        4.562585               2.293197
std            0.852077        3.288048               2.539093
min            0.000000        0.000000               0.000000
25%            0.000000        2.000000               0.000000
50%            1.000000        4.000000               1.000000
75%            1.000000        7.000000               4.000000
max            3.000000       10.000000              10.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count              1470.000000           1470.000000
mean                  3.440816              2.239456
std                   2.945194              2.505774
min                   0.000000              0.000000
25%                   1.000000              0.000000
50%                   3.000000              1.000000
75%                   6.000000              4.000000
max                  10.000000             10.000000

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   object
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(9), object(14)
memory usage: 264.3+ KB

In [6]:
duplicate_rows = data1.duplicated()
print ('Number of duplicate rows: ', duplicate_rows.sum())

Number of duplicate rows:  0

In [7]:
print (data2.head())

  PerformanceID EmployeeID ReviewDate  EnvironmentSatisfaction  \
0          PR01  79F7-78EC   1/2/2013                        5
1          PR02  B61E-0F26   1/3/2013                        5
2          PR03  F5E3-48BB   1/3/2013                        3
3          PR04  0678-748A   1/4/2013                        5
4          PR05  541F-3E19   1/4/2013                        5

   JobSatisfaction  RelationshipSatisfaction  TrainingOpportunitiesWithinYear  \
0                4                         5                                1
1                4                         4                                1
2                4                         5                                3
3                3                         2                                2
4                2                         3                                1

   TrainingOpportunitiesTaken  WorkLifeBalance  SelfRating  ManagerRating
0                           0                4           4              4
1                           3                4           4              3
2                           2                3           5              4
3                           0                2           3              2
4                           0                4           4              3

In [8]:
print(data2.describe())

       EnvironmentSatisfaction  JobSatisfaction  RelationshipSatisfaction  \
count              6709.000000      6709.000000               6709.000000
mean                  3.872559         3.430616                  3.427336
std                   0.940701         1.152565                  1.156753
min                   1.000000         1.000000                  1.000000
25%                   3.000000         2.000000                  2.000000
50%                   4.000000         3.000000                  3.000000
75%                   5.000000         4.000000                  4.000000
max                   5.000000         5.000000                  5.000000

       TrainingOpportunitiesWithinYear  TrainingOpportunitiesTaken  \
count                      6709.000000                 6709.000000
mean                          2.012968                    1.017290
std                           0.820310                    0.950316
min                           1.000000                    0.000000
25%                           1.000000                    0.000000
50%                           2.000000                    1.000000
75%                           3.000000                    2.000000
max                           3.000000                    3.000000

       WorkLifeBalance   SelfRating  ManagerRating
count      6709.000000  6709.000000    6709.000000
mean          3.414667     3.984051       3.473394
std           1.143961     0.816432       0.961738
min           1.000000     3.000000       2.000000
25%           2.000000     3.000000       3.000000
50%           3.000000     4.000000       3.000000
75%           4.000000     5.000000       4.000000
max           5.000000     5.000000       5.000000

In [9]:
data2.info

<bound method DataFrame.info of      PerformanceID EmployeeID ReviewDate  EnvironmentSatisfaction  \
0             PR01  79F7-78EC   1/2/2013                        5
1             PR02  B61E-0F26   1/3/2013                        5
2             PR03  F5E3-48BB   1/3/2013                        3
3             PR04  0678-748A   1/4/2013                        5
4             PR05  541F-3E19   1/4/2013                        5
...            ...        ...        ...                      ...
6704         PR995  4F28-CFAF  3/14/2016                        5
6705         PR996  7C80-94E0  3/14/2016                        3
6706         PR997  8233-2483  3/14/2016                        3
6707         PR998  8A5B-3D6E  3/15/2016                        5
6708         PR999  4500-37EB  3/16/2016                        4

      JobSatisfaction  RelationshipSatisfaction  \
0                   4                         5
1                   4                         4
2                   4                         5
3                   3                         2
4                   2                         3
...               ...                       ...
6704                3                         3
6705                5                         4
6706                4                         2
6707                2                         5
6708                5                         5

      TrainingOpportunitiesWithinYear  TrainingOpportunitiesTaken  \
0                                   1                           0
1                                   1                           3
2                                   3                           2
3                                   2                           0
4                                   1                           0
...                               ...                         ...
6704                                3                           1
6705                                2                           1
6706                                3                           1
6707                                2                           2
6708                                3                           1

      WorkLifeBalance  SelfRating  ManagerRating
0                   4           4              4
1                   4           4              3
2                   3           5              4
3                   2           3              2
4                   4           4              3
...               ...         ...            ...
6704                5           5              4
6705                3           4              4
6706                2           3              2
6707                4           3              3
6708                2           3              3

[6709 rows x 11 columns]>

In [11]:
merged_data = pd.merge(data1,data2, on=['EmployeeID'], how='inner')

In [12]:
print(merged_data.describe())

               Age  DistanceFromHome (KM)    Education         Salary  \
count  6709.000000            6709.000000  6709.000000    6709.000000
mean     30.776718              22.301535     2.860486  111061.747951
std       7.928774              12.896953     1.028617   98267.955572
min      18.000000               1.000000     1.000000   20387.000000
25%      25.000000              12.000000     2.000000   45276.000000
50%      28.000000              22.000000     3.000000   75667.000000
75%      37.000000              33.000000     4.000000  137427.000000
max      51.000000              45.000000     5.000000  547204.000000

       StockOptionLevel  YearsAtCompany  YearsInMostRecentRole  \
count       6709.000000     6709.000000            6709.000000
mean           0.722015        5.727083               2.852884
std            0.838703        3.338471               2.813943
min            0.000000        0.000000               0.000000
25%            0.000000        3.000000               0.000000
50%            1.000000        6.000000               2.000000
75%            1.000000        9.000000               5.000000
max            3.000000       10.000000              10.000000

       YearsSinceLastPromotion  YearsWithCurrManager  EnvironmentSatisfaction  \
count              6709.000000           6709.000000              6709.000000
mean                  4.254136              2.814577                 3.872559
std                   3.179384              2.796340                 0.940701
min                   0.000000              0.000000                 1.000000
25%                   1.000000              0.000000                 3.000000
50%                   4.000000              2.000000                 4.000000
75%                   7.000000              5.000000                 5.000000
max                  10.000000             10.000000                 5.000000

       JobSatisfaction  RelationshipSatisfaction  \
count      6709.000000               6709.000000
mean          3.430616                  3.427336
std           1.152565                  1.156753
min           1.000000                  1.000000
25%           2.000000                  2.000000
50%           3.000000                  3.000000
75%           4.000000                  4.000000
max           5.000000                  5.000000

       TrainingOpportunitiesWithinYear  TrainingOpportunitiesTaken  \
count                      6709.000000                 6709.000000
mean                          2.012968                    1.017290
std                           0.820310                    0.950316
min                           1.000000                    0.000000
25%                           1.000000                    0.000000
50%                           2.000000                    1.000000
75%                           3.000000                    2.000000
max                           3.000000                    3.000000

       WorkLifeBalance   SelfRating  ManagerRating
count      6709.000000  6709.000000    6709.000000
mean          3.414667     3.984051       3.473394
std           1.143961     0.816432       0.961738
min           1.000000     3.000000       2.000000
25%           2.000000     3.000000       3.000000
50%           3.000000     4.000000       3.000000
75%           4.000000     5.000000       4.000000
max           5.000000     5.000000       5.000000

In [13]:
print('Shape of merged dataset: ', merged_data.shape)

Shape of merged dataset:  (6709, 33)

In [14]:
print(merged_data.head())

  EmployeeID FirstName LastName  Gender  Age BusinessTravel Department  \
0  3012-1A41  Leonelle    Simco  Female   30    Some Travel      Sales
1  3012-1A41  Leonelle    Simco  Female   30    Some Travel      Sales
2  3012-1A41  Leonelle    Simco  Female   30    Some Travel      Sales
3  3012-1A41  Leonelle    Simco  Female   30    Some Travel      Sales
4  3012-1A41  Leonelle    Simco  Female   30    Some Travel      Sales

   DistanceFromHome (KM) State Ethnicity  ...  PerformanceID  ReviewDate  \
0                     27    IL     White  ...         PR1295  10/30/2016
1                     27    IL     White  ...         PR1908  10/30/2017
2                     27    IL     White  ...         PR2617  10/30/2018
3                     27    IL     White  ...         PR3436  10/30/2019
4                     27    IL     White  ...          PR411  10/31/2014

  EnvironmentSatisfaction JobSatisfaction  RelationshipSatisfaction  \
0                       3               3                         2
1                       4               4                         5
2                       5               5                         4
3                       1               3                         2
4                       3               4                         2

   TrainingOpportunitiesWithinYear TrainingOpportunitiesTaken WorkLifeBalance  \
0                                3                          0               4
1                                3                          1               2
2                                3                          0               4
3                                3                          1               3
4                                1                          0               3

  SelfRating  ManagerRating
0          3              3
1          3              2
2          5              5
3          5              4
4          4              3

[5 rows x 33 columns]

In [15]:
print(merged_data.isnull().sum())

EmployeeID                         0
FirstName                          0
LastName                           0
Gender                             0
Age                                0
BusinessTravel                     0
Department                         0
DistanceFromHome (KM)              0
State                              0
Ethnicity                          0
Education                          0
EducationField                     0
JobRole                            0
MaritalStatus                      0
Salary                             0
StockOptionLevel                   0
OverTime                           0
HireDate                           0
Attrition                          0
YearsAtCompany                     0
YearsInMostRecentRole              0
YearsSinceLastPromotion            0
YearsWithCurrManager               0
PerformanceID                      0
ReviewDate                         0
EnvironmentSatisfaction            0
JobSatisfaction                    0
RelationshipSatisfaction           0
TrainingOpportunitiesWithinYear    0
TrainingOpportunitiesTaken         0
WorkLifeBalance                    0
SelfRating                         0
ManagerRating                      0
dtype: int64

In [17]:
duplicate_rows = merged_data.duplicated()
print("Number of duplicate rows: ", duplicate_rows.sum())

Number of duplicate rows:  0

In [18]:
merged_data.to_csv(r'C:\Users\ngocd\source\Github\DataAnalysisProjects\HR analytics\merged_data.csv', index=False)